.bot-msg-info {
  font-style: italic;
  font-size: 20px;
  padding: 0px 20px 0px 20px;
}

.bot-img {
  position: fixed;
  width: 60px;
  right: 10px;
  bottom: 10px;
  z-index: 100000;
}

.chat-container {
  position: fixed;
  right: 0px;
  bottom: 0px;
  z-index: 100000;
  transform: scale(0);
  transition: transform 0.5s;
  transform-origin: 100% 100%;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.3) !important;
}

.chat-open {
  transform: scale(1);
}

.chat-header {
  color: white;
  background-position-x: right;
}

.chat-body {
  background-color: #f1f1f1;
  min-height: 350px;
  max-height: 350px;
  overflow-y: auto;
}

.chat-input {
  background-color: var(--CB-theme-1);
}

.user-input {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.user-submit {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.user-input-btn {
  font-size: 20px;
}

.btn-icon {
  color: rgba(255, 255, 255, 0.7);
}

.btn-icon:hover {
  color: white;
  cursor: pointer;
}
